opam-version: "2.0.8"
variables {
  native: true
  native-tools: true
  native-dynlink: true
  stubsdir:
    "C:/OCaml64/home/aarth/.opam/4.11.1+mingw64c/lib/ocaml/stublibs;C:/OCaml64/home/aarth/.opam/4.11.1+mingw64c/lib/ocaml;C:/OCaml64/home/aarth/.opam/4.11.1+mingw64c/lib/stublibs"
  preinstalled: false
  compiler: "4.11.1+mingw64c"
}
